@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html,
body {
    font-size: 10px;
    color: black;
    background-color:#F1F1F1;
    overflow-x: hidden;
}

.display-contant {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 5rem;
}

.display-contant .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-contant .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-contant .right .text {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.display-contant .right .text h1 {
    font-size: 5rem;
    position: relative;
}

.display-contant .right .text h1::after {
    content: "!";
    color: red;
    font-size: 5rem;
    position: absolute;
}

.display-contant .right .text p {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.display-contant .right .text a {
    display: inline-block;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.display-contant .right .text a:hover {
    background-color: white;
    color: black;
    border: 0.3rem solid black;
}

/* meadia quari 768px */
@media screen and (max-width: 768px) {
    .display-contant {
        padding: 2rem;
    }

    .display-contant .left {
        display: none;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right .text h1 {
        font-size: 3rem;
    }

    .display-contant .right .text h1::after {
        font-size: 3rem;
    }

    .display-contant .right .text p {
        font-size: 1rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}

/* meadia quari 480px */
@media screen and (max-width: 480px) {
    .display-contant .right .text h1 {
        font-size: 2rem;
    }

    .display-contant .right .text h1::after {
        font-size: 2rem;
    }

    .display-contant .right .text p {
        font-size: 1rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}

/* meadia quari 967px */
@media screen and (max-width: 967px) {
    .display-contant .left {
        display: none;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right .text h1 {
        font-size: 4rem;
    }

    .display-contant .right .text h1::after {
        font-size: 3rem;
    }

    .display-contant .right .text p {
        font-size: 2rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}